name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 138.249.7.95
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd ~/Phone_Market_Backend
            git pull origin main
            npm install
            npm run build
            pm2 restart phone-market-api || pm2 start dist/main.js --name phone-market-api
